@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');


body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    background-image: radial-gradient(circle , hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    /* hsl(214, 47%, 23%) to hsl(237, 49%, 15%) */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-weight: 600;
    font-size: 3rem;
    /* margin: 0; */
   
}

/**********tTHis is for the upper section of the game that carries gamename and score */
#display-board{
    font-weight :600; ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 8vh auto;
    border-radius: 10px;
    border: 2px solid hsl(217, 16%, 45%);
    padding: 1rem 1.5rem;
}


#game-title{
    font-size: 2em;
    width: 50px;
    /* letter-spacing: 0; */
    line-height: 1em;
    /* line-break: 0; */
}

#score-board{
    background-color: #ffffff;
    padding: 0.5rem 2.5rem;
    border-radius: 10px;

}
#score-board> h1{
    color:  hsl(229, 25%, 31%);
    font-weight: 600;
    font-size: 3rem;
    /* height: 3rem; */
    
}
#score-board> p{
    color: hsl(229, 64%, 46%) ;
}

/* $*************This part styles the game section*********** */
#pick-icon-stage{
    /* background-color: #fff; */
    background-image: url(./images/bg-triangle.svg);
    height: 40vh;
    background-position: center; 
    background-repeat: no-repeat; 
    /* background-size: cover; */
    

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 16vh;
    /* display: none;    */
}

#paper{
    background-color: #ffffff;
    padding: 16px 20px;
    border-radius: 50%;
    border: 12px solid  hsl(230, 89%, 65%);
    cursor: pointer;
   
}

#rock{
    /* margin-left: 100px; */
    background-color: #ffffff;
    padding: 20px 20px;
    border-radius: 50%;
    border: 12px solid  hsl(349, 71%, 52%);
    cursor: pointer;
    
}

#scissors{
    margin-left: 100px;
    background-color: #ffffff;
    padding: 16px 20px;
    border-radius: 50%;
    border: 12px solid  hsl(39, 89%, 49%); cursor: pointer;

}






/* ****************This part is for the footer */

#rules-btn{
    background-color:hsl(237, 49%, 15%);
    border: 2px solid hsl(217, 16%, 45%);
    padding: 5px 20px;
    border-radius: 10px;
    color: white;
    float: right;
    margin-right: 5vw;
    margin-top: 4vh;
}



/* ************************Rules image */
#rules-popup{
     position: fixed;
    z-index: 1;
    display: none;    
}
#rules-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* min-width: 50%; */
    padding: 40px;

    background-color: white;
    /* display: none; */
}

#close-icon{
    background-color: red;
    padding: 10px 5px 5px 5px;
    position: fixed;
    z-index: 2;
    left: 60%;
    cursor: pointer;
    display: none;
}


/* ******************THis is the stage where the computer picks it's icon */

#house-pick-section{
    display: none;
}

#house-pick-stage{
    /* background-color: #e7d46462; */
    display: flex;
    justify-content: center;
}

#your-board{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    align-items: center;
    /* background-color: burlywood; */
}
#verdict-board{
    display: flex;
    flex-direction: column;
    /* margin-right: 50px; */
    align-items: center;
    justify-content: center;
    display: none;


}

#house-board{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    align-items: center;
  
}
/* #house-picked{
    align-self: flex-start;
    justify-self: start;
    justify-content: start;
    align-content: flex-start;
} */

#picked-paper{
    margin-top: 50px;
    background-color: #ffffff;
    padding: 32px 40px;
    border-radius: 50%;
    border: 12px solid  hsl(230, 89%, 65%);
    cursor: pointer;
}

#picked-scissors{
    /* margin-left: 100px; */
    margin-top: 50px;
    background-color: #ffffff;
    padding: 35px 38px;
    border-radius: 50%;
    border: 12px solid  hsl(39, 89%, 49%);
     cursor: pointer;
}
#picked-rock{
    margin-top: 50px;
    background-color: #ffffff;
    padding: 36px 38px;
    border-radius: 50%;
    border: 12px solid  hsl(349, 71%, 52%);
    cursor: pointer;
}


#play-again-btn{
    padding: 15px 80px;
    border-radius: 10px;
    border: none;
    color: red;
    font-weight: 700;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
}

#play-again-btn:hover{
    color: #fff;
    background-color: hsl(220, 49%, 20%);

}








/********************** On screens that are 600px or less, set the background color to olive****************************** */



@media screen and (max-width: 600px) {


    body,html{
        font-size: 10px;
    }


    #play-again-btn{
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: 400;
        /* margin-top: 10px; */
    }

    h1{
        font-weight: 500;
        font-size: 1.8rem;
        /* margin: 0; */
       
    }


    #picked-paper,#picked-scissors,#picked-rock{
        margin-top: 20px;
        background-color: #ffffff;
        padding: 8px 10px;
        border-radius: 50%;
        border: 4px solid  hsl(230, 89%, 65%);
        cursor: pointer;
    }





  }